<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand">
            <img src="assets/img/xmas-tree.png" class="logo">
          </a>
          <span class="navbar-brand">LED Christmas Tree (beta)</span>
      </div>
  </div>
  <h4>Select a mode for LED Christmas tree: <br /> 
  <strong>Note: </strong>Modes do not change instantly. It can take up to 10 seconds for them to change once selected.</h4>

  <div class="container-fluid text-center">
    <div class="col-md-6">
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-primary" (click)="handleClick(&quot;off&quot;)">Off</button>
        <button type="button" class="btn btn-primary" (click)="handleClick(&quot;colorWipe/blue&quot;)">Color Wipe - Blue</button>
        <button type="button" class="btn btn-primary" (click)="handleClick(&quot;colorWipe/red&quot;)">Color Wipe - Red</button>
        <button type="button" class="btn btn-primary" (click)="handleClick(&quot;colorWipe/green&quot;)">Color Wipe - Green</button>
        <button type="button" class="btn btn-primary" (click)="handleClick(&quot;rainbow&quot;)">Rainbow</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-primary" (click)="handleClick(&quot;rainbowCycle&quot;)">Rainbow Cycle</button>
        <button type="button" class="btn btn-primary" (click)="handleClick(&quot;theaterChase/white&quot;)">Theater Chase - White</button>
        <button type="button" class="btn btn-primary" (click)="handleClick(&quot;theaterChase/red&quot;)">Theater Chase - Red</button>
        <button type="button" class="btn btn-primary" (click)="handleClick(&quot;theaterChase/green&quot;)">Theater Chase - Green</button>
      </div>
    </div>
  </div>
</nav>

