<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand">
            <img src="assets/img/xmas-tree.png" class="logo">
          </a>
          <span class="navbar-brand">LED Christmas Tree</span>
      </div>
  </div>
  <h4>Select a mode for LED Christmas tree:</h4>
  <div class="container-fluid text-center">
    <div class="btn-group-vertical">
      <button type="button" class="btn btn-primary">Off</button>
      <button type="button" class="btn btn-primary">Color Wipe - Blue</button>
      <button type="button" class="btn btn-primary">Color Wipe - Red</button>
      <button type="button" class="btn btn-primary">Color Wipe - Green</button>
      <button type="button" class="btn btn-primary">Rainbow</button>
      <button type="button" class="btn btn-primary">Rainbow Cycle</button>
      <button type="button" class="btn btn-primary">Theater Chase - White</button>
      <button type="button" class="btn btn-primary">Theater Chase - Red</button>
      <button type="button" class="btn btn-primary">Theater Chase - Green</button>
    </div> 
  </div>
</nav>

